@import './_variables.scss';

$app-max-width: 75rem;

html, body {
  overflow-y: hidden;
}

#app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  header,
  main,
  footer {
    max-width: $app-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $box-padding;
    padding-right: $box-padding;
    width: 100%;
  }

  header {
    flex-shrink: 0;
  }

  .app-body {
    padding-top: $box-padding;

    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;

    main {
      flex-grow: 1;
    }

    footer {
      flex-shrink: 0;
    }
  }
}