@import '@/styles/_utilities.scss';

@mixin white-content-box {
  background-color: var(--surface-section);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
}

@mixin header-space-between {
  @include flex-row-justify-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--default-padding);

  .actions {
    margin-left: auto;
  }
}

@mixin pre-overflow {
  overflow-x: auto;
}