@mixin flex {
  display: flex;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin flex-row {
  @include flex;
  flex-direction: row;
}

@mixin flex-row-justify-between {
  @include flex-row;
  justify-content: space-between;
}

@mixin flex-row-justify-between-wrapping {
  @include flex-row-justify-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--default-padding);
}

@mixin flex-row-actions {
  @include flex-row;
  gap: calc(var(--default-padding) / 2);
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
}

@mixin media-min-width($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin media-max-width($max-width) {
  @media screen and (max-width: calc($max-width - 1px)) {
    @content;
  }
}

@mixin dark-mode {
  html[color-scheme='dark'] & {
    @content;
  }
}

@mixin white-content-box {
  padding: var(--default-padding);
  border-radius: var(--border-radius);

  background-color: var(--card-background);
  border: var(--card-border);
}

@mixin pre-overflow {
  overflow-x: auto;
}

@mixin form-styling {
  .field {
    @include flex-column;
    gap: 0.5rem;

    margin-bottom: 1rem;
  }

  .footer {
    @include flex-row-justify-between-wrapping;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

    .result {
      max-width: 100%;
    }
  }
}

@mixin ok {
  background: color-mix(in srgb, var(--p-green-50), transparent 5%);
  border-color: var(--p-green-200);
  color: var(--p-green-600);
  box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-green-500), transparent 96%);

  @include dark-mode {
    background: color-mix(in srgb, var(--p-green-500), transparent 84%);
    border-color: color-mix(in srgb, var(--p-green-700), transparent 64%);
    color: var(--p-green-500);
    box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-green-500), transparent 96%);
  }
}

@mixin almost-due {
  background: color-mix(in srgb, var(--p-yellow-50), transparent 5%);
  border-color: var(--p-yellow-200);
  color: var(--p-yellow-600);
  box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-yellow-500), transparent 96%);

  @include dark-mode {
    background: color-mix(in srgb, var(--p-yellow-500), transparent 84%);
    border-color: color-mix(in srgb, var(--p-yellow-700), transparent 64%);
    color: var(--p-yellow-500);
    box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-yellow-500), transparent 96%);
  }
}

@mixin overdue {
  background: color-mix(in srgb, var(--p-red-50), transparent 5%);
  border-color: var(--p-red-200);
  color: var(--p-red-600);
  box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-red-500), transparent 96%);

  @include dark-mode {
    background: color-mix(in srgb, var(--p-red-500), transparent 84%);
    border-color: color-mix(in srgb, var(--p-red-700), transparent 64%);
    color: var(--p-red-500);
    box-shadow: 0px 4px 8px 0px color-mix(in srgb, var(--p-red-500), transparent 96%);
  }
}
